.navbar {
  background: $primary-color-dark;
  padding: 0.5em;

  .version {
    color: #AAA;
    vertical-align: middle;
  }

  .brand {
    color: $text-color-primary;
    font-size: 1.25em;
    line-height: 0.85em;
    margin: 0 0.4em;
  }

  .pure-menu-children {
    left: -125%;
  }

  .profile-image {
    border-radius: 50%;
    margin-left: 0.5em;
    position: relative;
    top: 3px;
    vertical-align: middle;
    width: 30px;
  }

  .pure-menu-link:focus {
    background-color: transparent;
  }

  .pure-menu-link:hover,
  .pure-menu-active > .pure-menu-link {
    background-color: rgba(255, 255, 255, .1);
  }
}

.navbar-menu {
  float: right;
  a {
    color: $text-color-light;
  }
}
