.navbar {
  background: $primary-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

  .version {
    color: #AAA;
    display: none;
  }

  .brand {
    color: $text-color-primary;
    font-size: 1.25em;
    line-height: 0.85em;
    margin: 0;

    &:focus ~ .version,
    &:hover ~ .version {
      display: initial;
    }
  }

  .loading-container {
    color: gray;
    display: inline-block;
    marginLeft: 1em
  }

  .loading-text {
    display: none;
    @media screen and (min-width: $screen-small) {
      display: initial;
    }
  }
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .navbar {
      padding-top: max(0.5em, env(safe-area-inset-top));
      padding-left: max(0.5em, env(safe-area-inset-left));
      padding-right: max(0.5em, env(safe-area-inset-right));
    }
  }
}

.navbar__menu-btn {
  background-color: transparent;
  color: white;
  font-size: 14px;
  width: 2.5em;
  height: 1.5em;
  padding: .3em;
}

.navbar__user-menu {
  $width = 100%;
  position: fixed;
  overflow-y: scroll;
  height: calc(100vh - 53px);
  width: $width;
  max-width: 560px;
  top: 53px;
  right: $width*-1;
  bottom: 0;
  transition: right .2s;
  &--active {
    right: 0;
  }
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .navbar__user-menu {
      top: calc(53px + env(safe-area-inset-top));
      height: calc(100vh - 53px - env(safe-area-inset-top));
    }
  }
}