.navbar {
  background: $primary-color-dark;

  .navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $screen-large;
    margin: 0 auto;
    padding: 0.5em;
  }

  .version {
    color: #AAA;
    display: none;
  }

  .brand {
    color: $text-color-primary;
    font-size: 1.25em;
    line-height: 0.85em;
    margin: 0;

    &:focus ~ .version,
    &:hover ~ .version {
      display: initial;
    }
  }

  .loading-container {
    color: gray;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
  }

  .loading-text {
    display: none;
    @media screen and (min-width: $screen-small) {
      display: initial;
    }
  }
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .navbar {
      padding-top: max(0.5em, env(safe-area-inset-top));
      padding-left: max(0.5em, env(safe-area-inset-left));
      padding-right: max(0.5em, env(safe-area-inset-right));
    }
  }
}

.navbar__menu-btn {
  background-color: transparent;
  display: inline-block;
  color: white;
  font-size: 14px;
  width: 2.5em;
  height: 1.5em;
  padding: .3em;
}

.navbar__user-menu {
  position: fixed;
  overflow-y: scroll;
  height: calc(100vh - 53px);
  width: 100vw;
  max-width: 560px;
  top: 53px;
  right: 0;
  bottom: 0;
  transition: transform .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateX(max(100vw, 560px))
  &--active {
    transform: translateX(0)
  }
}

.navbar__user-menu-backdrop {
  background-color: rgba(45,62,80,0.7);
  border: none;
  position: fixed;
  top: 53px;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms 0ms ease-in;

  &:focus {
    outline: none;
  }
  
  &--active {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 250ms;
    transition-delay: 50ms;
  }
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .navbar__user-menu {
      top: calc(53px + env(safe-area-inset-top));
      height: calc(100vh - 53px - env(safe-area-inset-top));
    }
  }
}