.container {
  display: grid;
  gap: 0.5rem;
  margin-top: 1rem;
}

.intervalListItem {
  margin-bottom: 0;
}

.actions {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.saveBtn,
.cancelBtn {
  flex: 1;
  height: 2.75rem;
  font-size: 1em;
}
