.container {
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center;
  color: white;
}

.date {
  flex: none;
}

.input {
  flex: 1;
  min-width: 0;
  height: 2.75rem;
  padding: 0 0.5rem;
  border: 0;
  border-radius: 4px;
  color: #333;
  font: inherit;
  font-size: 1rem;
}

.input[disabled] {
  background: whitesmoke;
  color: darkgray;
  cursor: not-allowed;
}
