{
  "presets": [["@babel/env", { "targets": { "safari": "12" } }], "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
