{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": 1,
    "no-use-before-define": ["error", "nofunc"],
    "import/extensions": [2, "always", { "js": "never" }],
    "import/no-extraneous-dependencies": [
      "error",
      { "optionalDependencies": false, "peerDependencies": false }
    ],
    "react/require-default-props": 0,
    "react/no-typos": 0,
    "react/button-has-type": "warn",
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/sort-comp": [
      2,
      {
        "order": ["static-methods", "lifecycle", "render", "everything-else"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ]
  }
}
