/* DayPicker styles */

.DayPicker {
  display: inline-block;
}

.DayPicker-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 1rem;
  flex-direction: row;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 1rem;
  margin-top: 1rem;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  margin-top: 2px;
  color: #8b9898;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 1.5rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: left;
  margin-bottom: 0.5rem;
}

.DayPicker-Caption > div {
  font-size: 1.15rem;
  font-weight: 500;
}

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5rem;
  font-size: 0.875em;
  text-align: center;
  color: #8b9898;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5rem;
}

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #f0f8ff;
  background-color: #4a90e2;
  border-radius: 100%;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff;
  border-radius: 50%;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.hidden,[hidden]{display:none!important}.pure-img{max-width:100%;height:auto;display:block}.pure-g{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;text-rendering:optimizespeed;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-flex;-webkit-flex-flow:row wrap;display:-ms-flexbox;-ms-flex-flow:row wrap;-ms-align-content:flex-start;-webkit-align-content:flex-start;align-content:flex-start}.opera-only :-o-prefocus,.pure-g{word-spacing:-.43em}.pure-u{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.pure-g [class *="pure-u"]{font-family:sans-serif}.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-5-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-2-24,.pure-u-3-24,.pure-u-4-24,.pure-u-5-24,.pure-u-6-24,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.pure-u-1-24{width:4.1667%;*width:4.1357%}.pure-u-1-12,.pure-u-2-24{width:8.3333%;*width:8.3023%}.pure-u-1-8,.pure-u-3-24{width:12.5%;*width:12.469%}.pure-u-1-6,.pure-u-4-24{width:16.6667%;*width:16.6357%}.pure-u-1-5{width:20%;*width:19.969%}.pure-u-5-24{width:20.8333%;*width:20.8023%}.pure-u-1-4,.pure-u-6-24{width:25%;*width:24.969%}.pure-u-7-24{width:29.1667%;*width:29.1357%}.pure-u-1-3,.pure-u-8-24{width:33.3333%;*width:33.3023%}.pure-u-3-8,.pure-u-9-24{width:37.5%;*width:37.469%}.pure-u-2-5{width:40%;*width:39.969%}.pure-u-5-12,.pure-u-10-24{width:41.6667%;*width:41.6357%}.pure-u-11-24{width:45.8333%;*width:45.8023%}.pure-u-1-2,.pure-u-12-24{width:50%;*width:49.969%}.pure-u-13-24{width:54.1667%;*width:54.1357%}.pure-u-7-12,.pure-u-14-24{width:58.3333%;*width:58.3023%}.pure-u-3-5{width:60%;*width:59.969%}.pure-u-5-8,.pure-u-15-24{width:62.5%;*width:62.469%}.pure-u-2-3,.pure-u-16-24{width:66.6667%;*width:66.6357%}.pure-u-17-24{width:70.8333%;*width:70.8023%}.pure-u-3-4,.pure-u-18-24{width:75%;*width:74.969%}.pure-u-19-24{width:79.1667%;*width:79.1357%}.pure-u-4-5{width:80%;*width:79.969%}.pure-u-5-6,.pure-u-20-24{width:83.3333%;*width:83.3023%}.pure-u-7-8,.pure-u-21-24{width:87.5%;*width:87.469%}.pure-u-11-12,.pure-u-22-24{width:91.6667%;*width:91.6357%}.pure-u-23-24{width:95.8333%;*width:95.8023%}.pure-u-1,.pure-u-1-1,.pure-u-5-5,.pure-u-24-24{width:100%}.pure-button{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}.pure-button-hover,.pure-button:hover,.pure-button:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}.pure-button:focus{outline:0}.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}.pure-button-hidden{display:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-form input:not([type]){padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-form input[type=color]{padding:.2em .5em}.pure-form input[type=text]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form select:focus,.pure-form textarea:focus{outline:0;border-color:#129FEA}.pure-form input:not([type]):focus{outline:0;border-color:#129FEA}.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{outline:thin solid #129FEA;outline:1px auto #129FEA}.pure-form .pure-checkbox,.pure-form .pure-radio{margin:.5em 0;display:block}.pure-form input[type=text][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}.pure-form input:not([type])[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{background-color:#eee;color:#777;border-color:#ccc}.pure-form input:focus:invalid,.pure-form textarea:focus:invalid,.pure-form select:focus:invalid{color:#b94a48;border-color:#e9322d}.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{outline-color:#e9322d}.pure-form select{height:2.25em;border:1px solid #ccc;background-color:#fff}.pure-form select[multiple]{height:auto}.pure-form label{margin:.5em 0 .2em}.pure-form fieldset{margin:0;padding:.35em 0 .75em;border:0}.pure-form legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;color:#333;border-bottom:1px solid #e5e5e5}.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked input[type=file],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea{display:block;margin:.25em 0}.pure-form-stacked input:not([type]){display:block;margin:.25em 0}.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}.pure-form-aligned textarea{vertical-align:top}.pure-form-aligned .pure-control-group{margin-bottom:.5em}.pure-form-aligned .pure-control-group label{text-align:right;display:inline-block;vertical-align:middle;width:10em;margin:0 1em 0 0}.pure-form-aligned .pure-controls{margin:1.5em 0 0 11em}.pure-form input.pure-input-rounded,.pure-form .pure-input-rounded{border-radius:2em;padding:.5em 1em}.pure-form .pure-group fieldset{margin-bottom:10px}.pure-form .pure-group input,.pure-form .pure-group textarea{display:block;padding:10px;margin:0 0 -1px;border-radius:0;position:relative;top:-1px}.pure-form .pure-group input:focus,.pure-form .pure-group textarea:focus{z-index:3}.pure-form .pure-group input:first-child,.pure-form .pure-group textarea:first-child{top:1px;border-radius:4px 4px 0 0;margin:0}.pure-form .pure-group input:first-child:last-child,.pure-form .pure-group textarea:first-child:last-child{top:1px;border-radius:4px;margin:0}.pure-form .pure-group input:last-child,.pure-form .pure-group textarea:last-child{top:-2px;border-radius:0 0 4px 4px;margin:0}.pure-form .pure-group button{margin:.35em 0}.pure-form .pure-input-1{width:100%}.pure-form .pure-input-2-3{width:66%}.pure-form .pure-input-1-2{width:50%}.pure-form .pure-input-1-3{width:33%}.pure-form .pure-input-1-4{width:25%}.pure-form .pure-help-inline,.pure-form-message-inline{display:inline-block;padding-left:.3em;color:#666;vertical-align:middle;font-size:.875em}.pure-form-message{display:block;color:#666;font-size:.875em}@media only screen and (max-width :480px){.pure-form button[type=submit]{margin:.7em 0 0}.pure-form input:not([type]),.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form label{margin-bottom:.3em;display:block}.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color]{margin-bottom:0}.pure-form-aligned .pure-control-group label{margin-bottom:.3em;text-align:left;display:block;width:100%}.pure-form-aligned .pure-controls{margin:1.5em 0 0}.pure-form .pure-help-inline,.pure-form-message-inline,.pure-form-message{display:block;font-size:.75em;padding:.2em 0 .8em}}.pure-menu{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-menu-fixed{position:fixed;left:0;top:0;z-index:3}.pure-menu-list,.pure-menu-item{position:relative}.pure-menu-list{list-style:none;margin:0;padding:0}.pure-menu-item{padding:0;margin:0;height:100%}.pure-menu-link,.pure-menu-heading{display:block;text-decoration:none;white-space:nowrap}.pure-menu-horizontal{width:100%;white-space:nowrap}.pure-menu-horizontal .pure-menu-list{display:inline-block}.pure-menu-horizontal .pure-menu-item,.pure-menu-horizontal .pure-menu-heading,.pure-menu-horizontal .pure-menu-separator{display:inline-block;*display:inline;zoom:1;vertical-align:middle}.pure-menu-item .pure-menu-item{display:block}.pure-menu-children{display:none;position:absolute;left:100%;top:0;margin:0;padding:0;z-index:3}.pure-menu-horizontal .pure-menu-children{left:0;top:auto;width:inherit}.pure-menu-allow-hover:hover>.pure-menu-children,.pure-menu-active>.pure-menu-children{display:block;position:absolute}.pure-menu-has-children>.pure-menu-link:after{padding-left:.5em;content:"\25B8";font-size:small}.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after{content:"\25BE"}.pure-menu-scrollable{overflow-y:scroll;overflow-x:hidden}.pure-menu-scrollable .pure-menu-list{display:block}.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list{display:inline-block}.pure-menu-horizontal.pure-menu-scrollable{white-space:nowrap;overflow-y:hidden;overflow-x:auto;-ms-overflow-style:none;-webkit-overflow-scrolling:touch;padding:.5em 0}.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar{display:none}.pure-menu-separator{background-color:#ccc;height:1px;margin:.3em 0}.pure-menu-horizontal .pure-menu-separator{width:1px;height:1.3em;margin:0 .3em}.pure-menu-heading{text-transform:uppercase;color:#565d64}.pure-menu-link{color:#777}.pure-menu-children{background-color:#fff}.pure-menu-link,.pure-menu-disabled,.pure-menu-heading{padding:.5em 1em}.pure-menu-disabled{opacity:.5}.pure-menu-disabled .pure-menu-link:hover{background-color:transparent}.pure-menu-active>.pure-menu-link,.pure-menu-link:hover,.pure-menu-link:focus{background-color:#eee}.pure-menu-selected .pure-menu-link,.pure-menu-selected .pure-menu-link:visited{color:#000}.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}.pure-table caption{color:#000;font:italic 85%/1 arial,sans-serif;padding:1em 0;text-align:center}.pure-table td,.pure-table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em}.pure-table td:first-child,.pure-table th:first-child{border-left-width:0}.pure-table thead{background-color:#e0e0e0;color:#000;text-align:left;vertical-align:bottom}.pure-table td{background-color:transparent}.pure-table-odd td{background-color:#f2f2f2}.pure-table-striped tr:nth-child(2n-1) td{background-color:#f2f2f2}.pure-table-bordered td{border-bottom:1px solid #cbcbcb}.pure-table-bordered tbody>tr:last-child>td{border-bottom-width:0}.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px;border-bottom:1px solid #cbcbcb}.pure-table-horizontal tbody>tr:last-child>td{border-bottom-width:0}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #1f8dd6;
  color: #fff;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  color: #6fbef3;
}
a.animated {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a.animated:after {
  background-color: currentColor;
  content: '';
  display: block;
  height: 1px;
  transform: scaleX(0.001);
  transition: transform 0.2s ease-out;
}
a.animated:hover {
  text-decoration: none;
}
a.animated:hover:after {
  transform: scaleX(1);
}
.center {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.spin-kit-spinner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
.list-menu {
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  position: absolute;
  width: 200px;
  top: 33px;
  right: 0;
  list-style: none;
  padding-left: 0;
}
.list-menu li {
  border-bottom: 1px solid #eee;
  margin: 0 5px;
}
.list-menu li > a,
.list-menu li > label {
  display: block;
  padding: 0.5em;
}
.flex-container {
  display: flex;
}
.flex--align-end {
  align-items: flex-end;
}
.flex-item {
  flex: 1;
}
.application {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}
.application__init {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__error {
  color: #f5f5f5;
}
.auth-form {
  color: #333;
  padding: 0.5em;
  width: 250px;
}
.auth-form input {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
}
.auth-form .pure-button {
  display: block;
  width: 100%;
}
.AutoComplete {
  position: relative;
}
.AutoComplete__label {
  display: block;
}
.AutoComplete__input {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}
.AutoComplete__suggestions {
  background-color: #fff;
  box-shadow: 0px 13px 25px rgba(0,0,0,0.25);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 2em;
  left: 0;
  min-width: 100%;
  z-index: 10;
}
.AutoComplete__suggestion__btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  font-size: 1em;
  padding: 0.5em;
  text-align: left;
  min-width: 100%;
}
.button {
  transition: background 0.3s;
}
.button--primary {
  background: #2d3e50;
  color: #6fbef3;
}
.button--secondary {
  background: #555;
  color: #d3d3d3;
}
.button--danger {
  background: #5a2929;
  color: #d3d3d3;
}
.button--success {
  background: #7df36f;
  color: #6fbef3;
}
.button--link {
  background: transparent;
  color: #6fbef3;
  text-shadow: 0 0 1px #2d3e50;
}
.work-button {
  border-radius: 0;
  display: block;
  font-size: 1.5em;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .current-intervals {
    margin-bottom: 3em;
    padding-bottom: 1.5em;
  }
}
.current-intervals__prev-work-btn {
  border-radius: 0;
  border-left: 1px solid #1f8dd6;
}
.previous-intervals {
  padding-bottom: 4em;
}
.previous-intervals__title {
  background: #2d3e50;
  color: #fff;
  padding: 0.5em;
}
.previous-intervals__show-more {
  display: block;
  margin: 0 0.5em 0.5em;
  width: calc(100% - 1em);
}
.date-picker {
  padding-right: 0.5em;
  position: relative;
}
.date-picker__icon {
  padding-top: 3px;
}
.date-picker__calendar {
  font-size: smaller;
  left: 0;
  padding-top: 0.6em;
  position: absolute;
  top: 2.6em;
  z-index: 10;
}
.date-picker__calendar .DayPicker-wrapper {
  background: #fff;
  color: #333;
}
.date-picker:focus {
  outline: none;
}
.date-picker--show-picker {
  color: #6fbef3;
}
.date-picker--disabled {
  color: #add8e6;
}
.digital-clock {
  font-weight: 500;
  margin: 2em 0 1em;
  margin-top: 5em;
  text-align: center;
}
.digital-clock time {
  font-size: 12vw;
  display: block;
  line-height: 10vw;
  margin: 0 auto;
}
.footer {
  background-color: #2d3e50;
  color: #f5f5f5;
  padding: 1em;
}
.footer [role="img"] {
  color: #bd5a5a;
}
@media screen and (min-width: 1024px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.hamburger,
.hamburger:before,
.hamburger:after {
  background-color: currentColor;
  width: 100%;
  height: 0.2em;
  transition: transform 0.2s;
}
.hamburger {
  position: relative;
  display: block;
}
.hamburger:before,
.hamburger:after {
  position: absolute;
  left: 0;
  margin-top: -0.6em;
  content: " ";
}
.hamburger:after {
  margin-top: 0.6em;
}
.hamburger--active {
  transform: rotate(-45deg);
}
.hamburger--active:before {
  margin-top: 0;
}
.hamburger--active:after {
  transform: rotate(90deg);
  margin-top: 0;
}
.svg-icon {
  fill: currentColor;
}
.add-one-interval {
  margin-top: 1em;
  padding-right: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-one-interval__interval-list-item {
  flex: 2;
}
.add-one-interval__interval-list-item button.delete {
  display: none;
}
.add-one-interval__btn {
  font-size: 1em;
  padding: 0.5em;
  width: 40px;
  height: 40px;
}
.add-one-interval__btn:last-child {
  margin-left: 0.5em;
}
.interval-list {
  list-style: none;
  padding-left: 0;
}
.interval-list input {
  padding: 0.5em 0.25em;
}
@media screen and (min-width: 480px) {
  .interval-list input {
    padding: 0.5em;
  }
}
.interval-list-input {
  display: flex;
  color: #fff;
  border-width: 0;
  margin-left: 0.5em;
  flex: 1;
}
.interval-list-input__input {
  flex: 1;
  order: 1;
  color: #333;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}
.interval-list-input__input[disabled] {
  background: #f5f5f5;
  color: #a9a9a9;
  cursor: not-allowed;
}
.interval-list-input__input:focus ~ .interval-list-input__date .date-picker__calendar {
  display: block;
  color: #f00;
}
.interval-list-input__date {
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  .interval-list-input__date {
    padding-right: 0.5em;
  }
}
.interval-list-input__date .date-picker__icon {
  display: none;
}
@media screen and (min-width: 480px) {
  .interval-list-input__date .date-picker__icon {
    display: block;
  }
}
.interval-list-input--error {
  background: #f00;
  border-color: #8b0000;
  color: #8b0000;
}
.interval-list-item {
  display: flex;
  margin-bottom: 0.5em;
}
.interval-list-item .button {
  display: inline-block;
  font-size: 1em;
  margin: 0 0.5em;
  width: auto;
  color: #fff;
}
.interval-list-item .delete {
  flex-basis: 40px;
  margin-left: 0;
  padding: 0.5em;
}
.interval-list-item__note {
  color: #333;
  font-size: 1em;
  flex: 1;
  margin: 0 0.5em;
}
.interval-list-item__note[disabled] {
  background: #f5f5f5;
  color: #a9a9a9;
  cursor: not-allowed;
}
.interval-list-item__no-work {
  margin: 0.75em 0.5em 0 0;
}
.interval-stats {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
}
.interval-stats .interval-stats-item {
  flex: 1;
  padding: 0.5em;
}
.month-stats__heading {
  margin: 1em 0.5em;
}
.week-stats {
  min-height: 180px;
}
.week-stats__bars,
.week-stats__title {
  margin: 1em 0.5em;
}
.week-stats__title {
  font-weight: 500;
  text-align: center;
}
.week-stats__title .button {
  color: #fff;
  background-color: transparent;
}
.week-stats-item {
  flex: 1;
  margin-right: 1px;
  text-align: center;
}
.week-stats-item:last-child {
  margin-right: 0;
}
.week-stats-item__bar {
  background: #6fbef3;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: height 400ms;
}
.week-stats-item__bar .not-work {
  background: #bd5a5a;
}
.week-stats-item__bar__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.week-stats-item__bar__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: smaller;
  opacity: 0;
  margin: 0;
  transition: opacity 400ms;
}
.week-stats-item__bar__total {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 400ms;
}
.week-stats-item__bar:focus .week-stats-item__bar__info {
  opacity: 1;
}
.week-stats-item__bar:focus .week-stats-item__bar__total {
  opacity: 0;
}
.week-stats-item__total {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.MonthReport {
  padding: 0 0.5em;
}
.MonthReport__title {
  margin-bottom: 0;
  text-align: center;
}
.MonthReport__subtitle {
  margin: 0 0 0.5em;
  text-align: center;
}
.MonthReport__subtitle .button {
  background-color: transparent;
  color: #fff;
}
.MonthReport__filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.75em;
}
.MonthReport__filter {
  background-color: rgba(45,62,80,0.25);
  color: rgba(255,255,255,0.5);
  margin-bottom: 0.25em;
}
.MonthReport__filter--active {
  background-color: rgba(45,62,80,0.75);
  color: rgba(255,255,255,0.9);
}
.MonthReport__list {
  list-style-type: none;
  padding-left: 0;
}
.MonthReport__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
}
.MonthReport__list-item:first-child,
.MonthReport__list-item:last-child {
  border-top: 1px solid rgba(255,255,255,0.75);
}
.MonthReport__list-item.not-work {
  background-color: rgba(189,90,90,0.75);
}
.MonthReport__list-item__title,
.MonthReport__list-item__value {
  margin: 0.5em 0;
}
.navbar {
  background: #2d3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.navbar .version {
  color: #aaa;
  display: none;
}
.navbar .brand {
  color: #fff;
  font-size: 1.25em;
  line-height: 0.85em;
  margin: 0;
}
.navbar .loading-text {
  display: none;
}
@media screen and (min-width: 480px) {
  .navbar .loading-text {
    display: initial;
  }
}
.navbar__menu-btn {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  width: 2.5em;
  height: 1.5em;
  padding: 0.3em;
}
.navbar__user-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 53px;
  right: -100%;
  bottom: 0;
  transition: right 0.2s;
}
.navbar__user-menu--active {
  right: 0;
}
.progress-bar {
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.25);
  display: flex;
  margin: 1em 0.5em;
  position: relative;
  transition: margin 300ms;
}
.progress-bar:hover {
  color: #fff;
}
@media screen and (min-width: 480px) {
  .progress-bar {
    margin: 1.5em 1em;
  }
}
@media screen and (min-width: 1024px) {
  .progress-bar {
    margin: 2em 0;
  }
}
.progress-bar__text,
.progress-bar__rest,
.progress-bar__progress {
  line-height: 2em;
  font-size: 0.75em;
  font-weight: 100;
  flex: 1;
  height: 2em;
  transition: flex-basis 500ms;
  text-align: center;
}
.progress-bar__progress {
  background-color: #6fbef3;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.25);
}
.progress-bar__rest {
  background-color: rgba(45,62,80,0.25);
}
.progress-bar__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.progress-bar__text:hover {
  transform: scale(1.8);
}
.progress-bar__overtime {
  background-color: #bd5a5a;
  border-left: 1px solid rgba(90,41,41,0.75);
}
.progress-bar--inverted .progress-bar__rest {
  background-color: #bd5a5a;
  border-left: 1px solid rgba(90,41,41,0.75);
}
.progress-bar--inverted .progress-bar__overtime {
  background-color: #7df36f;
  border-left: 1px solid rgba(47,95,42,0.75);
}
.progress-bar--only-delta .progress-bar__text__progress {
  display: none;
}
.user-menu {
  background-color: rgba(45,62,80,0.9);
  color: #f5f5f5;
  padding: 1em 2em;
}
.user-menu input:not([type=checkbox]) {
  color: #333;
}
.user-menu input[type=number] {
  text-align: right;
}
.user-menu .user-menu__fieldset {
  margin-top: 0.5em;
}
.user-menu .pure-menu-link {
  color: #f5f5f5;
}
.user-menu .pure-button {
  display: block;
  width: 100%;
}
.user-menu .pure-button-primary {
  margin-bottom: 0.5em;
}
.user-menu .profile-image {
  border-radius: 50%;
  margin-left: 0.5em;
  position: relative;
  top: 3px;
  vertical-align: middle;
  width: 50px;
}
.user-menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-menu__label {
  display: flex !important;
  align-items: center;
  padding: 0.25em 0;
  justify-content: space-between;
}
.user-menu__log-out {
  border: none;
  background-color: transparent;
}
.user-menu__change-pass {
  display: flex;
  margin-top: 2em;
}
.user-menu__change-pass .user-menu__change-pass__input {
  margin: 0 !important;
  border-radius: 2px 0 0 2px !important;
  width: 100%;
  flex: 2;
}
.user-menu__change-pass .user-menu__change-pass__btn {
  margin: 0;
  border-radius: 0 2px 2px 0;
  flex: 1;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  background-color: currentColor;
  width: 100%;
  height: 0.2em;
  transition: transform 0.2s;
}
.hamburger {
  position: relative;
  display: block;
}
.hamburger:before,
.hamburger:after {
  position: absolute;
  left: 0;
  margin-top: -0.6em;
  content: " ";
}
.hamburger:after {
  margin-top: 0.6em;
}
.hamburger--active {
  transform: rotate(-45deg);
}
.hamburger--active:before {
  margin-top: 0;
}
.hamburger--active:after {
  transform: rotate(90deg);
  margin-top: 0;
}

