.add-one-interval {
  margin-top: 1em;
  padding-right: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-one-interval__interval-list-item {
  flex: 2;
}
.add-one-interval__interval-list-item button.delete {
  display: none;
}

.add-one-interval__btn {
  font-size: 1em;
  padding: 0.5em;
  width: 40px;
  height: 40px;
}
.add-one-interval__btn:last-child {
  margin-left: .5em;
}
