.add-one-interval {
  margin-top: 1em;
  position: relative;
  .interval-list-item button.delete {
    visibility: hidden;
    pointer-events: none;
  }

}

.add-one-interval__btn {
  background-color: $primary-color-dark;
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
  position: absolute;
  top: 0;
  right: .5em;
  width: 40px;
}
