.interval-list-item {
  display: flex;
  margin-bottom: 0.5em;

  & > * {
    flex: 1;
    margin-left: 0.5em;
  }

  .interval-list-item-note,
  .interval-list-item-time {
    border-width: 0;
    font-size: 1em;
    padding: 0.5em;

    &[disabled] {
      background: whitesmoke;
      color: darkgray;
      cursor: not-allowed;
    }
  }

  .interval-list-item-note {
    flex: 4;
  }

  .button {
    display: inline-block;
    flex: 2;
    font-size: 1em;
    margin-top: 0;
    width: auto;
  }

  .delete {
    border-left: 1px solid lightgray;
    flex: .5;
    margin-left: 0;
    padding: 0.5em;

    &:hover {
      background: red;
      color: white;
    }
  }
}
