.interval-list-input {
  display: flex;
  color: white;
  border-width: 0;
  margin-left: .5em;
  flex: 1;

  &__input {
    flex: 1;
    color: #333;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;

    &[disabled] {
      background: whitesmoke;
      color: darkgray;
      cursor: not-allowed;
    }
  }

  &--error {
    background: red;
    border-color: darkred;
    color: darkred;
  }
}
