html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $primary-color-dark;
  color: $text-color-primary;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: $text-color-light
}

/* animated underline on hover */
a.animated {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &:after {
    background-color: currentColor;
    content: '';
    display: block;
    height: 1px;
    transform: scaleX(0.001);
    transition: transform 0.2s ease-out;
  }

  &:hover {
    text-decoration: none;
    &:after {
      transform: scaleX(1);
    }
  }
}
