.list-menu {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  position: absolute;
  width: 250px;
  top: 33px;
  transform: translateX(-125px);

  list-style: none;
  padding-left: 0;

  li > a,
  li > label {
    display: block;
    padding: .5em;
  }
}
