.list-menu {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  position: absolute;
  width: 200px;
  top: 33px;
  right: 0;

  list-style: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid #EEE;
    margin: 0 5px;
  }
  li > a,
  li > label {
    display: block;
    padding: .5em;
  }
}
