$primary-color = #1f8dd6;
$primary-color-dark = #2d3e50;

$danger-color = #bd5a5a;
$danger-color-dark = #5a2929;

$text-color-primary = white;
$text-color-light = #6FBEF3;

$screen-small = 480px;
$screen-medium = 768px;
$screen-large = 1024px;
