.button {
  transition: background 0.3s;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 2px;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font: inherit;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.button:focus {
  outline: 0;
}

.button:active {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
}

.button[disabled] {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.accent {
  background-color: #0078e7;
  color: #fff;
}

.primary {
  background: var(--primary-color-dark);
  color: var(--text-color-light);
}
.secondary {
  background: var(--secondary-color-dark);
  color: var(--text-color-secondary);
}
.danger {
  background: var(--danger-color-dark);
  color: var(--text-color-danger);
}
.success {
  background: var(--success-color);
  color: var(--text-color-light);
}
.link {
  background: transparent;
  color: var(--primary-color-dark);
}

.link:focus,
.link:hover {
  background: transparent;
  text-decoration: underline;
}

.block {
  display: block;
  width: 100%;
}
