.workButton {
  border-radius: 0;
  display: grid;
  flex: 1;
  min-width: 0;
  font-size: 1.25em;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .workButton {
    font-size: 1.5em;
  }
}
