.user-menu {
  color: #333;
  padding: 0.5em;
  width: 250px;

  input:not([type=checkbox]) {
    width: 100%;
  }

  .pure-button {
    display: block;
    width: 100%;
  }

  .pure-button-primary {
    margin-bottom: .5em;
  }

  &.pure-form legend > input {
    border: 0;
    box-shadow: none;
    font-weight: bold;
    padding: .25em;
  }
}
