.week-stats-item {
  flex: 1;
  margin-right: 1px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}

.week-stats-item__bar {
  background: $text-color-light;
  position: relative;
  transition: height 400ms;
  .not-work {
    background: $danger-color;
  }
}

.week-stats-item__total {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
