$block = '.date-picker';

{$block} {
  padding-right: .5em;
  position: relative;

  &__icon {
    padding-top: 3px;
  }

  &__calendar {
    display: none;
    font-size: smaller;
    left: 0;
    padding-top: .6em;
    position: absolute;
    top: 2.6em;
    z-index: 10;

    .DayPicker-wrapper {
      background: white;
      color: #333;
    }
  }

  &:hover,
  &:focus {
    {$block}__calendar {
      display: block;
    }
  }

  &--disabled {
    color: lightblue;
  }
}
