extends ./base.jade

block content
  form.login(action="/login", method="post")
    input(type="email", name="username", placeholder="email")
    input(type="password", name="password", placeholder="password")
    button(type="submit") Login
