.footer {
  background-color: $primary-color-dark;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  [role="img"] {
    color: $danger-color
  }

  @media screen and (min-width: $screen-large) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .footer {
      padding-left: max(1em, env(safe-area-inset-left));
      padding-right: max(1em, env(safe-area-inset-right));
      padding-bottom: max(1em, env(safe-area-inset-bottom));
    }
  }
}
