.footer {
  background-color: $primary-color-dark;
  color: whitesmoke;
  padding: 1em;

  [role="img"] {
    color: $danger-color
  }

  @media screen and (min-width: 1024px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
