.current-intervals {
  @media screen and (min-width: $screen-large) {
    margin-bottom: 3em;
    padding-bottom: 1.5em;
  }
}

.current-intervals__prev-work-btn {
  border-radius: 0;
  border-left: 1px solid $primary-color;
}
