/* the little of a reset we rely on */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

small {
  font-size: 80%;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button {
  cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  min-height: 100dvh;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: var(--text-color-light);
}

/* animated underline on hover */
a.animated {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a.animated:after {
  background-color: currentColor;
  content: '';
  display: block;
  height: 1px;
  transform: scaleX(0.001);
  transition: transform 0.2s ease-out;
}

a.animated:hover {
  text-decoration: none;
}
a.animated:hover:after {
  transform: scaleX(1);
}

body:has(dialog:modal) {
  overflow: hidden;
}
