.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__error {
  color: whitesmoke;
}

.auth-form {
  color: #333;
  padding: .5em;
  width: 100%;

  input {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: block;
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
  }

  .pure-button {
    display: block;
    width: 100%;
  }
}
