.auth-form {
  padding: .5em;
  width: 250px;

  input {
    border: 1px solid lightgray;
    borderRadius: 4px;
    display: block;
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
  }

  .pure-button {
    display: block;
    width: 100%;
  }
}
