.auth-form {
  background: white;
  border: 1px solid lightgray;
  borderRadius: 4px;
  position: absolute;
  padding: .5em;
  width: 250px;
  top: 33px;
  transform: translateX(-125px);

  input,
  button {
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
  }

  input {
    border: 1px solid lightgray;
    borderRadius: 4px;
  }
}
