.week-stats-item {
  flex: 1;
  margin-right: 1px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}

.week-stats-item__bar {
  background: linear-gradient(rgba(255, 255, 255, .45), rgba(255, 255, 255, .5));
}
