.progress-bar {
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
  color: rgba(255, 255, 255, .25);
  display: flex;
  margin: 1em .5em;
  position: relative;
  transition: margin 300ms;

  &:hover {
    color: white;
  }

  @media screen and (min-width: $screen-small) {
    margin: 1.5em 1em;
  }

  @media screen and (min-width: $screen-large) {
    margin: 2em 0;
  }
}

.progress-bar__text,
.progress-bar__rest,
.progress-bar__progress {
  line-height: 2em;
  font-size: .75em;
  font-weight: 100;
  flex: 1;
  height: 2em;
  transition: flex-basis 500ms;
  text-align: center;
}

.progress-bar__progress {
  background-color: $text-color-light;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,.25);
}

.progress-bar__rest {
  background-color: alpha($primary-color-dark, .25);
  padding-right: 1em;
  text-align: right;
}

.progress-bar__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.progress-bar__overtime {
  background-color: $danger-color;
  border-left: 1px solid alpha($danger-color-dark, .75);
}
