.container {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.25);
  display: flex;
  margin: 0.5em;
  position: relative;
  transition: margin 300ms;
}
.container:hover {
  color: white;
}

.text,
.rest,
.progress {
  line-height: 2em;
  font-size: 0.75em;
  font-weight: 100;
  flex: 1;
  height: 2em;
  transition: flex-basis 500ms;
  text-align: center;
}

.progress {
  background-color: var(--text-color-light);
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.25);
}

.rest {
  background-color: alpha(var(--primary-color-dark, 0.25));
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.text:hover {
  transform: scale(1.8);
}

.overtime {
  background-color: var(--success-color);
  border-left: 1px solid alpha(var(--success-color-dark), 0.75);
}
