.button {
  transition: background .3s;
}

.button--primary {
  background: $primary-color-dark;
  color: $text-color-light;
}
.button--secondary {
  background: $secondary-color-dark;
  color: $text-color-secondary;
}
.button--danger {
  background: $danger-color-dark;
  color: $text-color-danger;
}
.button--success {
  background: $success-color;
  color: $text-color-light;
}
.button--link {
  background: transparent;
  color: $text-color-light;
  text-shadow: 0 0 1px $primary-color-dark;
}
