.button {
  transition: background .3s;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.button--primary {
  background: $primary-color-dark;
  color: $text-color-light;
}
.button--secondary {
  background: $secondary-color-dark;
  color: $text-color-secondary;
}
.button--danger {
  background: $danger-color-dark;
  color: $text-color-danger;
}
.button--success {
  background: $success-color;
  color: $text-color-light;
}
.button--link {
  background: transparent;
  color: $primary-color-dark;
  &:focus,
  &:hover {
    background: transparent;
    text-decoration: underline;
  }
}
