.button {
  transition: background .3s;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.button--primary {
  background: var(--primary-color-dark);
  color: var(--text-color-light);
}
.button--secondary {
  background: var(--secondary-color-dark);
  color: var(--text-color-secondary);
}
.button--danger {
  background: var(--danger-color-dark);
  color: var(--text-color-danger);
}
.button--success {
  background: var(--success-color);
  color: var(--text-color-light);
}
.button--link {
  background: transparent;
  color: var(--primary-color-dark);
}
.button--link:focus,
.button--link:hover {
  background: transparent;
  text-decoration: underline;
}
