.work-button {
  border-radius: 0;
  display: grid;
  font-size: 1.5em;
  width: 100%;
}

@css {
  @supports(-webkit-overflow-scrolling: touch) {
    .work-button {
      padding-left: max(1em, env(safe-area-inset-left));
    }
  }
}
