.application {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: var(--screen-large);
}

.application__init {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  background: var(--primary-color);
}
@supports(-webkit-overflow-scrolling: touch) {
  .main {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
